@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');



body {
  @apply bg-[#02191D] min-h-screen p-4;
}
.debug{
  outline: 1px solid red;
}


.font-rage{
  font-family: 'Road Rage';
  font-style: normal;
}